[user]
	name = camercu
	email = cameron.unterberger@gmail.com
[credential "https://github.com"]
	username = camercu
[credential "https://gitlab.com"]
	username = camercu
[core]
	editor = vim
	excludesfile = ~/.gitignore-global
	autocrlf = input
#	safecrlf = warn
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[include]
	path = ~/.gitconfig-aliases
	path = ~/.gitconfig-credential
[color]
	ui = auto
[pull]
	rebase = false
[init]
	defaultBranch = main


# useful random stuff:
# disable upstream push
# git remote set-url --push upstream PUSH_DISABLED
